* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#cards {
    display: flex;
    flex-direction: row;
    gap: 3em;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
    width: 90%;
    flex-wrap: wrap;
}

#authorCard {
    width: 11em;
    height: auto;
    margin-bottom: 1.5em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: lightblue;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 1em;
}

#authorCard img {
    width: 9em;
    height: 9em;
    object-fit: cover;
}

#authorCard:hover {
    cursor: pointer;
    transition: 0.3s ease-in-out;
    scale: 1.1;
}


#book-card {
    width: 10em;
    margin-bottom: 1.5em;
    height: auto;
    background-color: lightcyan;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    flex-direction: column;
    box-sizing: border-box;
}


#book-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#book-card:hover {
    cursor: pointer;
    transition: 0.3s ease-in-out;
    scale: 1.1;
    ;
}

#wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

#title {
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
}

#form {
   
    padding: 3em;
    margin-top: 2em;
    width: 15em;
    height: auto;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#input-container {
    padding: 1.5em;
}

#input-container label {
    font-weight: bold;
    font-size: 1.2em;
}

#input-container input {
    border-radius: 0.3em;
    border: none;
    height: 1.5em;
}

#error-message {
    color: red;
    font-weight: bold;
}

#submitBtn {
    width: 6em;
    padding: 1em;
    background-color: brown;
    border: none;
    border-radius: 0.4em;
    font-weight: bold;
}

#submitBtn:hover {
    scale: 1.1;
    color: white;
    transition: 0.3s ease-in-out;
}