#registerLinkContainer {
    width: 100%;
    font-size: 1em;
    padding: 1.4em;
    font-weight: bold;
}

#registerLink {
    text-decoration: underline;
    color: crimson;
}

#registerLink:hover {
    cursor: pointer;
    color: white;
    transition: 0.3s ease-in-out;
}